body {
  font-family: Tahoma, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

#top_banner{
  color:  #a1d0c6;
}

div.form_style {
  margin: 130px auto 0 auto;
  width: 400px;
  box-shadow: 3px 3px 5px gray;
  /*border-radius: 20px; */
  overflow: hidden;
  background-color: #a1d0c6;
  opacity:0.7;
}


/*///// Form /////*/ 

form.form_style {
	padding: 20px;
  font-size: 11pt;
}

form.form_style div {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

form.form_style label {
    width:110px;
    float:left;
   	font-size: 90%;
    line-height:24px;
    font-weight:bold;

}
form.form_style > input{
    width:200px;
    margin-bottom:5px;
    line-height:18px;
    padding:5px 10px;
    border-radius: 10px; 
    border:1px solid #CCC;
}
form.form_style  .button{
    border-radius: 10px; 
    border: 3px solid white;
    background-color: #a1d0c6;
    /*padding: 5px 10px 5px 10px;*/
    font-size: 70%;
    font-weight: bold;
}
img{
  position: absolute;
  margin-left: 45%;
  width: 150px;
}
form.form_style  a{
  text-decoration: none;
  color: black;
  padding:1px 10px;
  margin-left: 10px;
}